body {

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.no-padding {

    padding-left: 0;
    padding-right: 0;
}

/* ----------------------------------------------Navbar */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {

    font-size: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    letter-spacing: 3.1px;
    padding-bottom: 0;
}

@media screen and (max-width: 400px) {

    .navbar-brand {

        font-size: 28px;
    }
}

.navbar-nav {

    font-size: 20px;
}

@media screen and (max-width: 400px) {

    .navbar-nav {

        font-size: 18px;
    }
}

.navbar-dark .navbar-toggler {

    border-color: rgba(255, 255, 255, .5);
}

.navbar-toggler {

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.bg-dark {

    background-color: #2d2f31 !important;
    padding-left: 30px;
}

.navbar-toggler-icon {

    width: 1.2rem;
    height: 1.2rem;
}

.fixed {

    position: fixed;
    top: 0;
    z-index: +1;
}

@media screen and (max-width: 400px) {

    .bg-dark {

        padding-left: 15px;
        padding-right: 8px;
    }
}


/* ----------------------------------------------Background Images */

/* The styling of the background images was inspired by the Code Institute tutorial lesson on "Whiskey Drop" project */

.image-outer-1 {

    /* Code credit: the trick to make 100vh constant in mobile browsers was taken from here (https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser) */

    height: 100vh;

    max-height: -webkit-fill-available;

    /*Photo credit: https://wall.alphacoders.com/big.php?i=1117417 */

    background: url(../images/moscow-view-1.jpg) no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

@media screen and (max-width: 600px) {

    /* Code credit: https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */

    .image-outer-1 {

        min-height: 100vh;
        min-height: -webkit-fill-available;

        /*Photo credit: https://wall.alphacoders.com/big.php?i=1117417 */

        background: url(../images/moscow-view-1-small.jpg) no-repeat center center;
        background-attachment: scroll;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }
}

.image-outer-1-ios {

    /* Code credit: the solution how to make "background-size: cover" work on iOS was taken from https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios */


    height: 100vh;

    max-height: -webkit-fill-available;

    /*Photo credit: https://wall.alphacoders.com/big.php?i=1117417 */

    background: url(../images/moscow-view-1-small.jpg) no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

#image-outer-2 {

    height: 115vh;

    /*Photo credit: https://wallpaperaccess.com/moscow */

    background: url(../images/moscow-view-4.jpg) no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

@media (min-width: 760px) and (max-width: 775px) {

    #image-outer-2 {

        height: 135vh;
    }
}

@media screen and (max-width: 600px) {

    #image-outer-2 {

        height: auto;
        background: none;
    }
}

.image-outer-3 {

    height: 100vh;

    /*Photo credit: https://www.wallpaperflare.com/saint-basil-s-cathedral-russia-moscow-rain-water-drops-church-wallpaper-phrrk */

    background: url(../images/moscow-view-5.jpg) no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.image-outer-3-ios {

    /* Code credit: the solution how to make "background-size: cover" work on iOS was taken from https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios */


    height: 100vh;

    max-height: -webkit-fill-available;

    /*Photo credit: https://www.wallpaperflare.com/saint-basil-s-cathedral-russia-moscow-rain-water-drops-church-wallpaper-phrrk */

    background: url(../images/moscow-view-5.jpg) no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

/* ----------------------------------------------Home Page */

#weather {

    position: absolute;
    top: 90px;
    left: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 3%;
    background-color: rgba(12, 12, 12, 0.6);
}

@media screen and (max-width: 415px) {

    #weather {

        top: 75px;
        left: 10px;
    }
}

@media screen and (max-width: 400px) {

    #weather {

        top: 55px;
    }
}

.weather-header {

    margin-bottom: 15px;
    text-align: center;
}

@media screen and (max-width: 541px) {

    .weather-header {

        font-size: 16px;
        font-weight: 400;
    }
}

#temperature {

    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

@media screen and (max-width: 541px) {

    #temperature h2 {

        font-size: 24px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 325px) {

    #temperature h2 {

        font-size: 20px;
    }
}

.jumbotron {

    background-color: rgba(12, 12, 12, 0.7);
    padding-bottom: 10px;
    padding-top: 30px;
    margin-bottom: 0px;
    margin-top: 50px;
}

@media screen and (max-width: 500px) {

    .jumbotron {

        border-radius: 0;
    }
}

@media screen and (max-width: 541px) {

    .jumbotron {

        padding-bottom: 5px;
        padding-top: 25px;
    }
}

.jumbotron-header {

    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
}

@media screen and (max-width: 541px) {

    .jumbotron-header {

        font-size: 24px;
        margin-bottom: 15px;
    }
}

.jumbotron .lead {

    margin: 25px 0;
    color: #ffffff;
}

@media screen and (max-width: 541px) {

    .jumbotron .lead {

        font-size: 18px;
        margin: 12px 0;
    }
}

@media screen and (max-width: 325px) {

    .jumbotron .lead {

        font-size: 16px;
        margin: 8px 0;
    }
}

.jumbotron small {

    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

@media screen and (max-height: 570px) {

    .jumbotron {

        padding-top: 15px;
    }

    .jumbotron p {

        margin-bottom: 0.5rem;
    }

    .jumbotron-header {

        margin-bottom: 5px;
    }

    .weather-header {

        margin-bottom: 5px;
    }

    #temperature h2 {

        font-size: 16px;
    }

    #weather-icon {

        height: 35px;
        width: 35px;
    }
}

.block-divider {

    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {

    background-color: #e3952a;
}

@media screen and (max-width: 325px) {

    .block-divider--orange {

        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.btn--yellow {

    color: rgb(0, 0, 0);
    background-color: #e3952a;
    border-color: #e3952a;
    font-weight: 500;
    border-radius: 23px;
    text-align: center;
}

@media screen and (max-height: 500px) {

    .btn--yellow {
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {

    .btn--yellow {
        font-size: 1rem;
    }
}

@media screen and (max-height: 570px) {

    .jumbotron-header {
        font-size: 20px;
        margin-bottom: 10px;
    }

    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#main-text {

    background-color: #c0c2cd;
    color: black;
    padding-bottom: 20px;
}

@media screen and (max-width: 800px) {

    #main-text {

        padding-top: 60px;
    }
}

#main-text p {

    color: #070707;
    text-align: justify;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 50px;
}

@media screen and (max-width: 800px) {

    #main-text p {

        margin: 0 0;
        margin-bottom: 50px;
        border-radius: 0;
    }
}

@media screen and (max-width: 390px) {

    #main-text p {

        font-size: 18px;
    }
}

@media screen and (max-width: 325px) {

    #main-text p {

        font-size: 16px;
    }
}

@media screen and (min-width: 1800px) {

    #main-text p {

        margin-left: 150px;
        margin-right: 150px;
    }
}

p#btn-main-text {

    text-align: center;
}

/* ----------------------------------------------Contact Form */

/* The styling of the contact form was inspired by the Code Institute tutorial lesson on "Love Running" project */

form h5{

    margin-bottom: 15px;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.3;
    letter-spacing: 0.6px;
    color: #f4c483;
}

@media screen and (max-width: 500px) {

    form h5 {

        font-size: 1rem;
    }
}

@media screen and (max-width: 330px) {

    form h5 {

        font-size: 0.8rem;
    }
}

#contact-form {

    margin-top: 50px;
    color: #a5a39f;
    background-color: rgba(60, 60, 60, 0.8);
    width: 450px;
    position: absolute;
    padding: 30px;
    border-radius: 1%;
}

@media screen and (max-width: 500px) {

    #contact-form {
        width: 350px;
        margin-top: 20px;
        position: absolute;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {

    #contact-form {
        width: 320px;
    }
}

@media screen and (max-width: 340px) {

    #contact-form {
        width: 280px;
    }
}

@media screen and (max-width: 300px) {

    #contact-form {
        width: 250px;
    }
}

.text-input {

    background: transparent;
    color: #f8ecd5;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1.5px solid #a5a39f;
    border-radius: 2px;
    font-weight: 300;
}

.text-input:hover {

    border-color: #e3952a;
}

.response {

    font-size: 20px;
    letter-spacing: 1px;
    color: #f4c483;
}

@media screen and (max-width: 340px) {

    #send-your-message {
        font-size: 14px;
    }
}

@media screen and (max-height: 570px) {

    .text-input {

        margin: 0 0 10px 0;
        font-size: 12px;
    }

    #send-your-message {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Code credit to change placeholder color: https://www.w3schools.com/howto/howto_css_placeholder.asp */

#moscow-view-3 input::placeholder,
#moscow-view-3 textarea::placeholder { 
    
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f8ecd5;
    opacity: 1;
}
  
#moscow-view-3 input:-ms-input-placeholder,
#moscow-view-3 textarea:-ms-input-placeholder,
#moscow-view-3 input::-ms-input-placeholder,
#moscow-view-3 textarea::-ms-input-placeholder { 
    
    /* Internet Explorer 10-11,  Microsoft Edge */
    color: #f8ecd5;
}

/* ----------------------------------------------Footer */

.footer {

    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
    background-color: #494947;
    color: #ffffff;
    display: block;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
}

.footer p {

    margin-bottom: 0px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

@media screen and (max-height: 500px) {

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 330px) {

    .footer {
        padding-top: 5px;
        padding-bottom: 9px;
    }
}

/* ----------------------------------------------Things-to-do Page */

#map {

    height: 50vh;
    border-radius: 1%;
}

.map-margin {

    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

@media (min-width: 602px) and (max-width: 993px) {

    .map-margin {
        padding-right: 50px;
    }

    #map {
        height: 40vh;
    }
}

@media screen and (max-width: 300px) {

    #map {
        height: 45vh;
    }
}

.image {

    width: 100%;
    height: 250px;
    padding-left: 23px;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 600px) {

    .image {
        padding-left: 0;
    }
}

#info-window {

    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 5%;
}

@media screen and (max-width: 600px) {

    #info-window {

        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 50px;
    }
}

#info-window h5 {

    margin-top: 19px;
    margin-bottom: 43px;
    font-size: 24px;
}

@media screen and (max-width: 600px) {

    #info-window h5 {

        margin-bottom: 30px;
    }
}

/* Code credit: the approach to align text inside a div was taken from here: https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div/13515693#13515693 */

#info-window h4 {

    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 0;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#info-window p {

    font-size: 16px;
    margin-top: 30px;
    text-align: justify;
    padding-left: 23px;
    font-weight: 400;
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {

    #info-window p {

        padding-left: 0;
    }

    #info-window h4 {

        font-size: 1.1rem;
    }
}

#info-window p a {

    color: #0056b3;
}

#info-window p a:hover {

    color: #e3952a;
}

.row-buttons {

    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 0;
    color: black;
    margin-right: 0;
}

@media screen and (max-width: 801px) {

    .row-buttons {

        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {

    .row-buttons {

        margin-left: 37px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

@media (min-width: 580px) and (max-width: 590px) {

    .row-buttons {

        margin-left: 43px;
    }
}

@media (min-width: 530px) and (max-width: 550px) {

    .row-buttons {

        margin-left: 10px;
    }
}

@media screen and (max-width: 485px) {

    .row-buttons {

        margin-left: 60px;
    }
}

@media screen and (max-width: 415px) {

    .row-buttons {

        margin-left: 40px;
    }
}

@media screen and (max-width: 390px) {

    .row-buttons {

        margin-left: 43px;
    }
}

@media screen and (max-width: 370px) {

    .row-buttons {

        margin-left: 30px;
    }
}

@media screen and (max-width: 355px) {

    .row-buttons {

        margin-left: 24px;
    }
}

@media screen and (max-width: 300px) {

    .row-buttons {

        margin-left: 15px;
    }
}

a:not([href]):not([tabindex]):hover {

    color: #0056b3;
}

.btn--yellow:hover {

    color: #0056b3;
}

.btn:focus {

    -webkit-box-shadow: 0 0 0 0.2rem #e3952a;

    box-shadow: 0 0 0 0.2rem #e3952a;
}

@media screen and (max-height: 570px) {

    #contact-us {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.things-to-do {

    margin-top: 20px;
    width: 100%;
    position: absolute;
    top: 40px;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 600px) {

    .things-to-do {

        margin-top: 0;
        top: 0;
    }
}

h5 span {

    color: red;
}

.things-to-do-window {

    background-color: rgb(239 233 205 / 90%);
    color: white;
    padding-bottom: 60px;
    border-radius: 1%;
    padding-left: 0;
    padding-right: 0;
}

.no-margin {

    margin-right: 0;
    margin-left: 0;
}

.padding-map {

    padding-right: 0;
}

@media screen and (max-width: 600px) {

    .things-to-do-window {

        border-radius: 0;
    }
}

.padding-left-map {

    padding-left: 50px;
}

@media screen and (max-width: 600px) {

    .padding-left-map {

        padding-left: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1370px) {

    .list-inline-item a {

        font-size: 16px;
    }
}

@media screen and (max-width: 486px) {

    .list-inline-item a {

        width: 160px;
    }
}

@media screen and (max-width: 445px) {

    .list-inline-item a {

        width: 150px;
    }
}

@media screen and (max-width: 390px) {

    .list-inline-item a {

        width: 130px;
    }
}

@media screen and (max-width: 310px) {

    .list-inline-item a {

        width: 120px;
    }
}

@media screen and (max-width: 600px) {

    .list-inline-item:not(:last-child) {

        margin-right: 10px;
    }

    .list-inline-item {

        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {

    .list-inline-item:not(:last-child) {

        margin-right: 30px;
    }
}

@media screen and (max-width: 348px) {

    .list-inline-item:not(:last-child) {

        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {

    .list-inline {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 290px) {

    #historic-sites {
        padding-left: 11px;
    }
}