body{

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.no-padding{

    padding-left: 0;
    padding-right: 0;
}

/* ----------------------------------------------Navbar */

.navbar-brand{

    font-size: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    letter-spacing: 3.1px;
}

@media screen and (max-width: 400px){

    .navbar-brand{
        font-size: 28px;
    }
}

.navbar-nav{

    font-size: 20px;
}

.navbar-dark .navbar-toggler {

    border-color: rgba(255,255,255,.5);
}

.bg-dark {

    background-color: #2d2f31!important;
    padding-left: 30px;
}

.fixed{

    position: fixed;
    top: 0;
    z-index: +1;
}

@media screen and (max-width: 400px){

    .bg-dark{

        padding-left: 15px;
        padding-right: 8px;
    }    
}


/* ----------------------------------------------Background Images */

/* The styling of the background images was inspired by the Code Institute tutorial lesson on "Whiskey Drop" project */

#image-outer-1{   

    height: 100vh;

    /*Photo credit: https://wall.alphacoders.com/big.php?i=1117417 */

    background: url(../images/moscow-view-1.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#image-outer-2{ 

    height: 100vh;

    /*Photo credit: https://www.wallpaperflare.com/saint-basil-s-cathedral-russia-moscow-rain-water-drops-church-wallpaper-phrrk */

    background: url(../images/moscow-view-4.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#image-outer-3{

    height: 100vh;

    /*Photo credit: https://wallpaperaccess.com/moscow-city */

    background: url(../images/moscow-view-3.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* #matreshki{

    height: 100vh;

    /*Photo credit: https://www.1zoom.me/en/wallpaper/424432/z1644.9/ */

    /* background: url(../images/matreshki.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}  */

/* ----------------------------------------------Home Page */

.jumbotron{

    background-color: rgba(12, 12, 12, 0.7);
    padding-bottom: 10px;
    padding-top: 30px;
}

@media screen and (max-width: 600px){

    .jumbotron{

        border-radius: 0;
    }    
}

.jumbotron-header{

    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron .lead{

    margin: 25px 0;
    color: #ffffff;
}

.jumbotron small{

    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.block-divider{

    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange{
    
    background-color: #e3952a;
}

.btn--yellow{

    color: rgb(0, 0, 0);
    background-color: #e3952a;
    border-color: #e3952a;
    font-weight: 500;
    border-radius: 23px;
    text-align: center;
}

@media screen and (max-height: 500px){

    .btn--yellow{
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px){

    .btn--yellow{
        font-size: 1rem;
    }
}

#main-text{

    background-color: #c0c2cd;
    color: black;
    padding-bottom: 20px;
}

@media screen and (max-width: 800px){

    #main-text{

        padding-top: 60px;
    }
}

#main-text p{

    color: #070707;
    text-align: justify;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 50px;
} 

@media screen and (max-width: 800px){

    #main-text p{

        margin: 0 0;
        margin-bottom: 50px;
        border-radius: 0;
    }
}

@media screen and (min-width: 1800px){

    #main-text p{

        margin-left: 150px;
        margin-right: 150px;
    }
}

 p#btn-main-text{

    text-align: center;
}

/* ----------------------------------------------Contact Form */

/* The styling of the contact form was inspired by the Code Institute tutorial lesson on "Love Running" project */

#contact-form{

    margin-top: 50px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    width: 450px;
    position: absolute;
    left: 10%;
    padding: 30px;
    border-radius: 1%;
}

@media screen and (max-width: 500px){

    #contact-form{
        width: 350px;
        left: auto;
        margin-top: 20px;
        position: absolute;
        top: auto;
    }
}

@media screen and (max-width: 400px){

    #contact-form{
        width: 320px;
    }
}

@media screen and (max-width: 340px){

    #contact-form{
        width: 280px;
    }
}

@media screen and (max-width: 300px){

    #contact-form{
        width: 250px;
    }
}

.text-input{

    background: transparent;
    color: #fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border:1.5px solid #fafafa;
    border-radius:2px;
}

.text-input:hover{

    border-color:#e3952a;
}

/* ----------------------------------------------Footer */

.footer{

    text-align: center;
    padding-top: 17px;
    padding-bottom: 20px;
    background-color: #494947;
    color: #ffffff;
}

.footer-fixed{
    position: fixed;
    bottom: 0;
}

.footer p{

    margin-bottom: 0px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

@media screen and (max-height: 500px){

    .footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* ----------------------------------------------Things-to-do Page */

#map {

    height: 50vh;
    border-radius: 1%;
}

.image{

    width: 100%;
    height: 250px;
    padding-left: 23px;
    object-fit: cover; 
    display: block;
}

#info-window{

    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5%;
}

#info-window h5{

    margin-top: 19px;
    margin-bottom: 43px;
    font-size: 24px;
}

/* Credit: the approach to align text inside a div was taken from here: https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div/13515693#13515693 */

#info-window h4{
    
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 30px;
    line-height: 1.5;
}

#info-window p{

    font-size: 16px;
    margin-top: 30px;
    text-align: justify;
    padding-left: 23px;
    font-weight: 500;
}

#info-window p a{

    color: #0056b3;
}

#info-window p a:hover{ 

    color: #e3952a;
}

.row-buttons{

    margin-bottom: 20px;
    margin-top: 40px;
    color: black;
}

@media screen and (max-width: 600px){

    .row-buttons{

        margin-left: 20px;
    }
}

a:not([href]):not([tabindex]):hover{

    color: #0056b3;
}

.btn--yellow:hover{

    color: #0056b3;
}

.things-to-do{

    margin-top: 20px;
    width: 100%;
    position: absolute;
    top: 40px;
}

h5 span{

    color: red;
}

.things-to-do-window{

    background-color: rgb(207 199 163 / 90%);
    color: white;
    padding-bottom: 30px;
    border-radius: 1%;
    
}

.padding-left-map{

    padding-left: 60px;
}

@media screen and (max-width: 600px){

    .padding-left-map{

        padding-left: 0;
    }
}